#TitleStatus {
	display: flex;
	align-items: center;
}
h1 {
	width: 40%;
}
.status {
	background-color: #4f8c69;
	width: max-content;
	height: max-content;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	color: white;
	padding: 3px 10px;
}
#entity {
	appearance: none;
	-webkit-appearance: none;
	background-image: url("../assets/down-arrow.svg");
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 14px 8px;
	padding-left: 30px;
	border: 0px;
	min-width: 82px;
	min-height: 24px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	color: #3a3a3a;
	padding: 6px;
	border-radius: 4px;
}
.xCoo,
.zCoo {
	padding: 8px;
	background-color: #ffffff;
	border-radius: 4px;
	width: 82px;
	min-height: 30px;
	border: 0px;
}
.chose-div-input::placeholder {
	font-weight: 700;
	font-size: 12px;
	vertical-align: middle;
	color: #dbdbdb;
}
label {
	font-weight: 700;
	font-size: 14px;
	color: #3a3a3a;
}
.spawnButton {
	background-color: #4f8c69;
	border: none;
	border-radius: 99px;
	font-weight: 700;
	font-size: 22px;
	padding: 5px 40px;
	color: white;
	width: max-content;
}
form {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.entityDiv,
.xCooDiv,
.zCooDiv {
	display: flex;
	flex-direction: column;
	width: 26%;
	justify-content: center;
	padding: 0;
}
.row1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.arenaEntities {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
hr {
	border: 1px solid #3a3a3a;
}
table {
	border: 1px solid #8e8e8e;
	border-collapse: collapse;
}
th {
	background-color: #d9d9d9;
}
td {
	text-align: center;
}
td img {
	width: 28px;
	height: 28px;
	margin: auto;
}
td p {
	font-weight: 400;
	font-size: 16px;
	color: #3a3a3a;
}
tr {
	border: solid 1px #3a3a3a;
	border-collapse: collapse;
	padding: 12px;

	height: 47px;
}
td button {
	background-color: #f25959;
	border: none;
	border-radius: 4px;
	padding: 0px 4px;
	font-weight: 500;
	font-size: 16px;
	color: white;
}
.thEntities,
.thName,
.thX,
.thY,
.thStrength,
.thDel {
	font-weight: 400;
	font-size: 16px;
}
.closedArena {
	background-color: #f25959;
}
.noSpawn,
.noSpawn::placeholder {
	background-color: #dbdbdb;
	color: #8e8e8e;
}
@media screen and (min-width: 850px) and (max-width: 1439px) {
	h1 {
		width: 25%;
	}
	.entityDiv,
	.xCooDiv,
	.zCooDiv {
		width: 177px;
	}
	.xCoo,
	.zCoo {
		width: 177px;
	}
	.thEntities span,
	.thName span,
	.thX span,
	.thY span,
	.thStrength span,
	.thDel span {
		display: none;
	}

	.thEntities::after {
		content: "Entity";
		font-weight: 400;
		font-size: 16px;
	}
	.thName::after {
		content: "Name";
		font-weight: 400;
		font-size: 16px;
	}
	.thX::after {
		content: "X Coordinate";
		font-weight: 400;
		font-size: 16px;
	}
	.thY::after {
		content: "Y Coordinate";
		font-weight: 400;
		font-size: 16px;
	}
	.thStrength::after {
		content: "Strength";
		font-weight: 400;
		font-size: 16px;
	}
	.thDel::after {
		content: "del";
		font-weight: 400;
		font-size: 16px;
	}

	tbody {
		padding: 10px;
	}
}
@media screen and (min-width: 1440px) {
	h1 {
		width: 12%;
	}
	.entityDiv,
	.xCooDiv,
	.zCooDiv {
		width: 30%;
	}
	.xCoo,
	.zCoo {
		width: 100%;
	}
	.thEntities span,
	.thName span,
	.thX span,
	.thY span,
	.thStrength span,
	.thDel span {
		display: none;
	}

	.thEntities::after {
		content: "Entity";
		font-weight: 400;
		font-size: 16px;
	}
	.thName::after {
		content: "Name";
		font-weight: 400;
		font-size: 16px;
	}
	.thX::after {
		content: "X Coordinate";
		font-weight: 400;
		font-size: 16px;
	}
	.thY::after {
		content: "Y Coordinate";
		font-weight: 400;
		font-size: 16px;
	}
	.thStrength::after {
		content: "Strength";
		font-weight: 400;
		font-size: 16px;
	}
	.thDel::after {
		content: "del";
		font-weight: 400;
		font-size: 16px;
	}
}
