@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* {
    margin: 0;
    padding: 0;
} */

body {
	background-color: black;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background: url(../assets/body-grass-background.png), url(../assets/body-stone.png);
    background-position: 0px 200px, 0px 0px;
    background-repeat: repeat-x, repeat;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
    padding-bottom: 25px;
}

main {
	background-color: #e6eff4;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	width: 75%;
    text-align: start;
    padding: 26px 30px;
}

span {
	font-weight: bold;
}

hr {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 850px) and (max-width: 1439px) {
	nav {
		display: flex;
	}
	#menuBurgerButton {
		display: none;
	}
	#darkmode {
		display: block;
	}
}
@media screen and (min-width: 1440px) {
	nav {
		display: flex;
	}
	#menuBurgerButton {
		display: none;
	}
	#darkmode {
		display: block;
	}
	#header-Seaarch-Input-Container {
		min-width: 310px;
		max-width: none;
	}
}
